

a:link {
  color: black;
  text-decoration: none;
}

.home
{
  border-style: solid;
  border-color: black;
  border-width: 2px;
  padding: 5px;
  top: 2rem;
  margin: 0px;
  position: sticky;
  margin-left: 10px;
  font-family: helvetica;
}

.thecontent {
  font-family: helvetica;
  height: 99%;
  margin: 0px;
  padding: 60px;
  
/*background-image: url('lasers.gif');
    background-size: cover;
    background-repeat: repeat-x;*/
}



.name
{
  font-size: 40px;
  font-family: helvetica-bold;
  margin-left: 45px;
  margin-bottom: 20px;
  background-color: white;
}



.entry
{
  /*border-width: 3px;
  border-style: solid;
  border-color: black;*/
  padding: 20px;
  background-color: white;
  position: relative;
  margin-left: 200px;
  margin-right: 200px;
  text-align: justify;
  /*background-color: lightgrey;*/
}
img {
    /*margin-top: 30px;*/
    max-width: 100%;
    max-height: 100%;
}

/*img {
    position: relative;
    top: 0; bottom:0; left: 0; right:0;
    margin: auto;
}*/

